/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2017, 16:10:23
    Author     : aller
*/

/*    Mise en page du site de la mediatheque    */


body
{
    background-color: azure;
}

div
{
    box-sizing: border-box;
}


#titrePage
{
    background-color:#fb9109;   
}


#titrePageMediatheque
{
    background-color:#fb9109; 
    text-align: center;
    margin-bottom: 5px;
}


#panelHorraireMediatheque
{
    text-align: center;
}


#ringAffichageContenuMediatheque
{
    text-align: center;
}
