/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 août 2017, 16:10:23
    Author     : aller
*/

/*    Mise en page du site de la mediatheque    */


     div{
        box-sizing: border-box;
        }


    #titrePageMediatheque
    {
    background-color:#fb9109; 
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;
    }